body{background-image: url(https://wallpaperaccess.com/full/5691243.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
*{margin: 0;
    padding: 0;}


#outer{width: 100vw;
        height: 70vh;
        background: rgba(255, 255, 255, 0.1);
        padding-top: 30vh;}

#inner{background: rgb(255, 255, 255,0.6);
    padding: 30px 10px;
    width: 375px;
    margin:auto;
    }

td{padding: 8px;}

.table-content{height: 40px;
    width: 300px;
    font-size: 1.3rem;
    font-weight: 500;
    }